<div class="panel {{#if is_connected}}panel-success{{else}}panel-danger{{/if}}">
    <div class="panel-heading">{{id}}
        <fieldset class="pull-right" {{#unless is_connected}}disabled{{/unless}}>
            <div class="form-group">
                <div class="btn-group">
                    <a href="#" role="button" class="btn {{#if is_connected}}btn-primary{{else}}btn-default{{/if}} btn-xs module-enable {{#if enabled}}disabled{{/if}}">Activer</a>
                    <a href="#" role="button" class="btn {{#if is_connected}}btn-primary{{else}}btn-default{{/if}} btn-xs module-disable {{#unless enabled}}disabled{{/unless}}">Désactiver</a>
                </div>
            </div>
        </fieldset>
        <div class="clearfix"></div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                {{#if is_connected}}
                Connecté <u title="{{formatDate connected_at}}">{{fromNow connected_at}}</u>
                {{else}}
                {{#if disconnected_at}}
                Déconnecté <u title="{{formatDate disconnected_at}}">{{fromNow disconnected_at}}</u>
                {{else}}
                Jamais connecté
                {{/if}}
                {{/if}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {{#if last_alive_time}}
                Dernière réponse <u title="{{formatDate last_alive_time}}">{{fromNow last_alive_time}}</u>
                {{else}}
                &nbsp;
                {{/if}}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-12">
                <fieldset {{#unless is_connected}}disabled{{/unless}}>
                    {{#ifEq type "alert"}}
                    <div class="form-group">
                        <div class="btn-group">
                            <a href="#" role="button" class="btn btn-primary btn-sm module-turn-on {{#if enabled}}{{#if on}}disabled{{/if}}{{else}}disabled{{/if}}">Allumer</a>
                            <a href="#" role="button" class="btn btn-primary btn-sm module-turn-off {{#if enabled}}{{#unless on}}disabled{{/unless}}{{else}}disabled{{/if}}">Éteindre</a>
                        </div>
                    </div>
                    {{/ifEq}}
                </fieldset>
            </div>
        </div>
    </div>
    <div class="panel-footer"><small>
        <fieldset {{#unless is_connected}}disabled{{/unless}} class="container-fluid">
            <div class="row no-gutter">
                <div class="col-sm-3">mac :</div>
                <div class="col-sm-6">{{#if mac}}{{mac}}{{else}}N/A{{/if}}</div>
            </div>
            <div class="row no-gutter">
                <div class="col-sm-3">ip :</div>
                <div class="col-sm-9">{{ip}}</div>
            </div>
            <div class="row no-gutter">
                <div class="col-sm-3">broker :</div>
                <div class="col-sm-6">{{broker}}</div>
                <div class="col-sm-3"><a href="#" role="button" class="btn btn-warning btn-xs module-reconnect">Reconnecter</a></div>
            </div>
        </fieldset>
        </small>
    </div>
</div>