{{#unless length}}
<div class="row">
    <div class="col-sm-12">
        Aucune photo entre le {{formatDate startDate format='DD/MM/YYYY HH:mm'}} et le {{formatDate endDate format='DD/MM/YYYY HH:mm'}}
    </div>
</div>
{{/unless}}
{{#each this}}
<div class="row">
    {{#each this}}
    <div class="col-sm-{{../../cols}}">
        <div class="thumbnail">
            <div class="{{#unless facebook_id}}bg-warning{{/unless}}">
                <a href="{{filename}}" target="_blank" style="width:100%;" title="Photo prise {{formatDate shootedAt}}">
                <img class="media-object img-responsive" src="{{filename}}?dim=392x313" alt="Photo prise {{formatDate shootedAt}}">
                </a>
                <div class="caption small">
                    <p>{{formatDate shootedAt format='DD/MM/YYYY HH:mm'}} <br>
                    {{#if facebook_post_id}}<a href="https://facebook.com/{{facebook_post_id}}" target="_blank">Voir sur Facebook</a>
                    {{else}}<button class="btn btn-default btn-sm data-republish" data-filename="{{filename}}" data-hello="{{HellosId}}">Publier sur Facebook</button>
                    {{/if}}
                    <br>
                    {{#unless HellosId}}Image test{{else}}&nbsp;{{/unless}}
                    </p>
                </div><br>
                <button type="button" class="btn btn-default photo-of-the-day" data-filename="{{filename}}">Mettre comme photo du jour</button>
            </div>
        </div>
    </div>
    {{/each}}
</div>
{{/each}}