<nav role="navigation" class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Photos</a>
        </div>
    </div>
</nav>
<div class="row">
    <div class="col-sm-12">
        <form class="navbar-form navbar-left" role="form">
            <div class="form-group">
                <button type="button" class="btn btn-default older">&laquo; Précédentes</button>
            </div>
            <div class="form-group">
                <div class="input-group date">
                    <div class="input-group-addon">du</div>
                    <input type="datetime" class="form-control time-control start-date" data-date-defaultdate="{{formatDate startDate format='DD/MM/YYYY HH:mm'}}" data-date-format="DD/MM/YYYY HH:mm" />
                </div>
            </div>
            <div class="form-group">
                <div class="input-group date">
                    <div class="input-group-addon">au</div>
                    <input type="datetime" class="form-control time-control end-date" data-date-defaultdate="{{formatDate endDate format='DD/MM/YYYY HH:mm'}}" data-date-format="DD/MM/YYYY HH:mm" />
                </div>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-default newer">Suivantes &raquo;</button>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-default today">Aujourd'hui</button>
            </div>
        </form>
    </div>
</div>
{{#each this}}
<div class="row">
    {{#each this}}
    <div class="col-sm-{{../../cols}}">
        <div class="thumbnail">
            <div class="{{#unless facebook_id}}bg-warning{{/unless}}">
                <a href="{{filename}}" target="_blank" style="width:100%;" title="Photo prise {{formatDate shootedAt}}">
                <img class="media-object img-responsive" src="{{filename}}?dim=392x313" alt="Photo prise {{formatDate shootedAt}}">
                </a>
                <div class="caption small">
                    <p>{{formatDate shootedAt}} <br>
                    {{#if facebook_id}}{{else}}Pas sur Facebook{{/if}} <br>
                    {{#unless HellosId}}Hors jeu{{/unless}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>
{{/each}}
