{{#unless length}}
<div class="row">
    <div class="col-sm-12">
        Aucun visiteur {{#if filters.queue}}en attente{{/if}} entre le {{formatDate startDate format='DD/MM/YYYY HH:mm'}} et le {{formatDate endDate format='DD/MM/YYYY HH:mm'}}
    </div>
</div>
{{/unless}}

{{#each this}}
<div class="row">
    {{#each this}}
    <div class="col-sm-{{../../cols}}">
        <div class="panel panel-default {{#if QueueId}}panel-warning{{else}}panel-success{{/if}}">
            <div class="panel-heading">

                <a class="pull-right" href="#">
                <img class="media-object" src="https://graph.facebook.com/{{id}}/picture?type=square">
                </a>
                <span>{{name}}</span>
                <span>
                {{#ifEq gender "male"}}&#9794;{{/ifEq}} {{#ifEq gender "female"}}&#9792;{{/ifEq}}
                </span>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body"  style="overflow:hidden">
            <p>
                <a href="mailto:{{email}}" target="_blank">{{email}}</a><br>
                Facebook <a href="{{link}}" target="_blank">{{id}}</a><br>
                1ère visite <span title="{{formatDate createdAt}}">{{fromNow createdAt}}</span><br>
                Dernière visite <span title="{{formatDate updatedAt}}">{{fromNow updatedAt}}</span><br>
                Liked : <strong>{{#ifEq hasLiked 0}}Non{{else}}Oui{{/ifEq}}</strong> ;
                Granted : <strong>{{#ifEq granted_publish_actions 0}}Non{{else}}Oui{{/ifEq}}</strong><br>
                Access Token : <strong title="{{access_token}}">{{ellipsis 20 access_token}}...</strong><br>
                Expanded Token : <strong title="{{access_token}}">{{ellipsis 20 expanded_access_token}}...</strong><br>

                {{#if Hello.Photos.filename}}
                {{#with Hello.Photos}}
                <div class="thumbnail">
                    <div class="{{#unless facebook_id}}bg-warning{{/unless}}">
                        <a href="{{filename}}" target="_blank" style="width:100%;" title="Photo prise {{formatDate shootedAt}}">
                        <img class="media-object img-responsive" src="{{filename}}?dim=392x313" alt="Photo prise {{formatDate shootedAt}}">
                        </a>
                        <div class="caption small">
                            <p>{{formatDate shootedAt format='DD/MM/YYYY HH:mm'}} <br>
                            {{#if facebook_post_id}} <a href="https://facebook.com/{{facebook_post_id}}" target="_blank">Voir sur Facebook</a> {{else}}<s>Facebook</s>{{/if}} <br>
                            {{#unless HellosId}}Image test{{else}}&nbsp;{{/unless}}
                            </p>
                        </div>
                    </div>
                </div>
                {{/with}}
                {{/if}}
            </p>
            </div>
        </div>
    </div>
    {{/each}}
</div>
{{/each}}
<!-- HellosId: 21
QueueId: null
access_token: "CAAKD86OlhTIBAKzhHIkaZADi9SLN7ZAzBxw0zyWEffFkbZBy3HH0c2bd5xFQbu9TaDoGhPm2qwl7vakYHutYLh42IgZCug8AKgYTiIwyw3a8rOo7FmnA0fcVmIYe6ZAkSu2m89FNDbjJU2zNOlDXlwgOubqWupmp51vIVaZC7ZAoKmVtb3XyZCHMOf5dE3ZAFZC80m0kwSbDuochtupCimZCfGGFecRYUY84e0ZD"
createdAt: "2014-10-21T12:35:46.000Z"
email: "stephane.roucheray@gmail.com"
expanded_access_token: "CAAKD86OlhTIBAGiOh9CHx0In4qwLvuZAw0HnkZChZCQMOqYYfmmVZBcMN4nzqC4h8V56sFouQBIVl6e9AZC7nW4sQg8QNLEHhUi1IR2aD8mQ5Sh2t6D5zPQ9Q8kRoMmofKxt9ESDH50aQg5cTPO4cEuc7Wt7ZCCFe1som9gF6qV3UXMZA9xRjydZB4ouam6SzrYZD"
first_name: "Stéphane"
gender: "male"
granted_publish_actions: 1
hasLiked: 0
id: "10203709714678221"
last_name: "Roucheray"
link: "https://www.facebook.com/app_scoped_user_id/10203709714678221/"
locale: "fr_FR"
name: "Stéphane Roucheray"
updatedAt: "2014-10-21T13:31:19.000Z" -->