<div class="row">
  <div class="col-sm-12">
    <h2>Scores</h2>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <div class="alert alert-success" style="background-color:#66CC66;" role="alert">
      <div><a href="#/data/scores" class="alert-link">{{teamA.name}} <span class="badge pull-right">{{teamA.score}}</span></a></div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="alert alert-success" style="background-color:#FFCC00;" role="alert">
      <div><a href="#/data/scores" class="alert-link">{{teamB.name}} <span class="badge pull-right">{{teamB.score}}</span></a></div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="alert alert-success" style="background-color:#0099CC;" role="alert">
      <div><a href="#/data/scores" class="alert-link">{{teamC.name}} <span class="badge pull-right">{{teamC.score}}</span></a></div>
    </div>
  </div>
</div>