<nav role="navigation" class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Horaires d'ouverture</a>
        </div>
    </div>
</nav>
<form class="form-horizontal" role="form">
    <div class="form-group">
        <div class="col-sm-2 col-sm-offset-2">
            Ouverture
        </div>
        <div class="col-sm-2">
            Fermeture
        </div>
    </div>
{{#each this}}
    <div class="form-group" data-day="{{day_of_week}}">
        <label for="ouverture-{{day_of_week}}" class="col-sm-2 control-label">{{dayOfWeek day_of_week}}</label>
        <div class="col-sm-2">
            <div class="input-group date">
                <input type="time" id="ouverture-{{day_of_week}}" class="form-control time-control ouverture" placeholder="HH:MM" data-date-defaultdate="{{open_hour}}:{{open_minute}}" {{#unless enabled}}disabled{{/unless}} />
                <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="input-group date">
                <input type="time" id="fermeture-{{day_of_week}}" class="form-control time-control fermeture" placeholder="HH:MM" data-date-defaultdate="{{close_hour}}:{{close_minute}}" {{#unless enabled}}disabled{{/unless}} />
                <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
            </div>
        </div>
        <div class="col-sm-1">
            <div class="checkbox">
                <label>
                    <input id="enabled-{{day_of_week}}" class="time-enabled" type="checkbox" {{#if enabled}}checked{{/if}}> Actif
                </label>
            </div>
        </div>
    </div>
{{/each}}
</form>
