<div class="row">
    <div class="col-sm-12">
        <h2>Modules </h2>
    </div>
</div>
<div class="row">
    {{#each stats.modules}}
    <div class="col-sm-4">
        <div class="alert alert-info" role="alert">
            <div><a href="#/control/{{type}}" class="alert-link">{{name}}</a></div>
            <br>
            <ul class="list-group small">
                <li class="list-group-item {{#ifEq modules.connected.length 0}}list-group-item-danger{{else}}{{#ifEq num modules.connected.length}}list-group-item-success{{else}}list-group-item-warning{{/ifEq}}{{/ifEq}}">
                    {{#if modules.connected.length}}
                        {{modules.connected.length}} {{plural modules.connected.length "module"}} sur {{num}} {{plural modules.connected.length "est"}} {{plural modules.connected.length "connecté"}}
                    {{else}}
                        Aucun des {{num}} {{plural num "module"}} n'est connecté
                    {{/if}}

                </li>
            </ul>
        </div>
    </div>
    {{/each}}
</div>